.footer {
  background-color: #2c2b2b;
  height: 200px;
  display: flex;
  text-align: center;
  align-items: center;
}

.footer p {
  font-size: 16px;
  color: #676868;
  margin-top: 10px;
  margin-bottom: 35px;
}

.footer ul {
  padding: 0;
}

.list-inline {
  display: inline-block;
  font-size: 30px;
  margin: 5px;
}
